*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.photo{
    width: 25%;
    height: 30vh;
}

.photo img{
    width: 100%;
    height: 30vh;
}

.content{
    width: 85%;
    height: 30vh;
}