*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.photo{
    width: 25%;
    height: 30vh;
}

.photo img{
    width: 100%;
    height: 30vh;
}

.content{
    width: 85%;
    height: 30vh;
}

@media (max-width: 576px) {
    .box{
        display: flex;
        flex-direction: column;
    }

    .content{
        width: auto;
        text-align: justify;
        padding-left: 3%;
        padding-right: 3%;
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .photo{
        width: auto;
    }

    .workcard-padding{
        padding: 0;
    }
}


/*
................................Responsive Computer screen...............................
*/

@media (min-width: 768px) {
    .box{
        display: flex;
        flex-direction: row;
    }
}