.BlogCard
{
    padding: 0px 90px 10px 0px;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid black;
}
.info
{
    display: flex;
    
}
.info .date
{
    padding-right: 1.5rem;
    border-right: 1px solid black;
}
.info span
{
    padding-left: 1.5rem;
}

@media(max-width: 435px){
    .BlogCard
{
    padding: 0px 0px 10px 0px;
    
}
}
