*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
..........................................................................
...................................Mobile.................................
..........................................................................
*/

@media (min-width: 240px) {
    .icons{
        width: 8%;
    }
}

/*
..........................................................................
...................................Tablet.................................
..........................................................................
*/

@media (min-width: 576px) {
    .icons{
        width: 4.5%;
    }
}

/*
..........................................................................
...................................Laptop.................................
..........................................................................
*/

@media (min-width: 992px) {
    .icons{
        width: 2.5%;
    }
}